.textDivider {
  margin: 1rem 0;
  font-size: 14px;
  font-weight: 500;
  color: #B6BCC8;
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
}

.textDivider::before,
.textDivider::after {
  content: '';
  height: 1px;
  background-color: #E5E7EB;
  flex-grow: 1;
}

.textDivider::before {
  margin-right: var(--text-divider-gap);
}

.textDivider::after {
  margin-left: var(--text-divider-gap);
}