
.section {
  flex: 1 1 auto;
  /* TODO: SLA-1842 - add webkit scrollbar customized styles to display bar properly in windows devices */
  overflow-y: scroll;
}

.section {
  padding: 27px 34px 0 34px;
}
