.footer {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 28px;
  flex: 0 1 auto;
}

.copyright {
  font-size: 12px;
  color: #B6BCC8;
  font-weight: 500;
}

.logo {
  font-weight: 700;
  font-family: 'monospace';
}
