.bottom0 {
  margin-bottom: 0;
}

.top2 {
  margin-top: 0.5rem;
}

.bottom2 {
  margin-bottom: 0.5rem;
}

.top4 {
  margin-top: 1rem;
}

.top6 {
  margin-top: 1.5rem;
}

.top8 {
  margin-top: 2rem;
}

.top12 {
  margin-top: 3rem;
}
