.text {
  font-size: 14px;
  color: var(--slashauth-fontColor, #363849);
  font-weight: 500;
  line-height: 17px;
  margin: 0;
}

.error {
  color: #df1212;
}

.largeText {
  font-size: 16px;
}

.centered {
  text-align: center;
}

.alignLeft {
  text-align: left;
}