/* TODO: SLA-1968 - Move this to a vertical divider css module */
.navigateBack {
  border-top: 1px solid var(--slashauth-lineColor, #E5E7EB);
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
